# Parameters Example:  
Model:      MD1  
Model_Name: MD1_MIN-Y_200-0.2-300-2__CEL-Adam_0.001.pt  
Trainer:    Guille  
## Data Processing:  
    Divider:        DIVIDERS_MIN  
    Clear Cover:    Yes  
## Model Shape:  
    Layer 1: Embedding:  
        embed_dim:  200  
        dropout:    0.2  
    Layer 2: Dropout_embed:  
        hidden_dim: 300  
        num_layers: 2  
## Training:  
    criterion:      CrossEntropyLoss  
    optimizer:      Adam  
    lr:             0.001  
    epochs:         300  
    patience:       15  
    total epochs:   None  
    best loss:      None  
Output sentence:    None

In [1]:
import pandas as pd

In [39]:
df = pd.read_excel('model_tests.xlsx')
print(df.head())

  MODEL                                  MODEL_NAME TRAINER  \
0   NaN                                         NaN     NaN
1   NaN                                         NaN     NaN
2   MD1  MD1_MIN-Y_200-0.2-300-2__CEL-Adam_0.001.pt  Guille
3   MD2   MD2_OG-Y_450-0.2-600-1__CEL-Adam_0.001.pt  Alvaro
4   MD3  MD3_ALL-Y_450-0.2-600-1__CEL-Adam_0.001.pt  Alvaro

     DATA PROCESSING          Unnamed: 4         Model Shape Unnamed: 6  \
0                NaN                 NaN  Layer 1: Embedding        NaN
1            Divider         Clear Cover           embed_dim    dropout
2       DIVIDERS_MIN  Yes (delete cover)                 200        0.2
3  DIVIDERS_ORIGINAL  Yes (delete cover)                 450        0.2
4       DIVIDERS_ALL  Yes (delete cover)                 450        0.2

               Unnamed: 7  Unnamed: 8          Training  ... Unnamed: 15  \
0  Layer 2: Dropout_embed         NaN               NaN  ...         NaN
1              hidden_dim  num_layers         criterion  ...   best loss
2                     300           2  CrossEntropyLoss  ...         NaN
3                     600           1  CrossEntropyLoss  ...         NaN
4                     600           1  CrossEntropyLoss  ...         NaN

                                     Output sentence Unnamed: 17 Unnamed: 18  \
0                                                NaN         NaN         NaN
1                                                NaN         NaN         NaN
2                                                NaN         NaN         NaN
3  I am a widower and never had any we live very ...         NaN         NaN
4  I am a widower fellow back so as to make the c...         NaN         NaN

  Unnamed: 19 Unnamed: 20 extra  Unnamed: 22  Unnamed: 23  Unnamed: 24
0         NaN         NaN   NaN          NaN          NaN          NaN
1         NaN         NaN   NaN          NaN          NaN          NaN
2         NaN         NaN   MIN            Y          CEL         Adam
3         NaN         NaN    OG            Y          CEL         Adam
4         NaN         NaN   ALL            Y          CEL         Adam

[5 rows x 25 columns]

d:\TRABAJO\Cognizant\Project-III\.venv\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   MODEL            21 non-null     object
 1   MODEL_NAME       21 non-null     object
 2   TRAINER          9 non-null      object
 3   DATA PROCESSING  10 non-null     object
 4   Unnamed: 4       10 non-null     object
 5   Model Shape      11 non-null     object
 6   Unnamed: 6       10 non-null     object
 7   Unnamed: 7       11 non-null     object
 8   Unnamed: 8       10 non-null     object
 9   Training         10 non-null     object
 10  Unnamed: 10      10 non-null     object
 11  Unnamed: 11      10 non-null     object
 12  Unnamed: 12      10 non-null     object
 13  Unnamed: 13      10 non-null     object
 14  Unnamed: 14      4 non-null      object
 15  Unnamed: 15      4 non-null      object
 16  Output sentence  7 non-null      object
 17  Unnamed: 17      0 non-null      float64
 18  Unnamed: 18      0 non-null      float64
 19  Unnamed: 19      0 non-null      float64
 20  Unnamed: 20      0 non-null      float64
 21  extra            9 non-null      object
 22  Unnamed: 22      9 non-null      object
 23  Unnamed: 23      9 non-null      object
 24  Unnamed: 24      9 non-null      object
dtypes: float64(4), object(21)
memory usage: 4.6+ KB

In [41]:
df = df.iloc[:, :17]
df = df.iloc[:11, :]

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   MODEL            9 non-null      object
 1   MODEL_NAME       9 non-null      object
 2   TRAINER          9 non-null      object
 3   DATA PROCESSING  10 non-null     object
 4   Unnamed: 4       10 non-null     object
 5   Model Shape      11 non-null     object
 6   Unnamed: 6       10 non-null     object
 7   Unnamed: 7       11 non-null     object
 8   Unnamed: 8       10 non-null     object
 9   Training         10 non-null     object
 10  Unnamed: 10      10 non-null     object
 11  Unnamed: 11      10 non-null     object
 12  Unnamed: 12      10 non-null     object
 13  Unnamed: 13      10 non-null     object
 14  Unnamed: 14      4 non-null      object
 15  Unnamed: 15      4 non-null      object
 16  Output sentence  7 non-null      object
dtypes: object(17)
memory usage: 1.6+ KB

In [43]:
df.columns = ['ID', 'MODEL_NAME', 'TRAINER', 'DIVIDER', 'CLEAR_COVER', 'EMBED_DIM',
            'DROPOUT', 'HIDDEN_DIM', 'NUM_LAYERS', 'CRITERION', 'OPTIMIZER', 'LEARNING_RATE',
            'EPOCHS', 'PATIENCE', 'TOTAL_EPOCHS', 'BEST_LOSS', 'OUTPUT_SENTENCE']

In [45]:
df['OUTPUT_SENTENCE']

0                                                   NaN
1                                                   NaN
2                                                   NaN
3     I am a widower and never had any we live very ...
4     I am a widower fellow back so as to make the c...
5     I am not still so short a theory as to me from...
6     I am a man of honour and your address had been...
7     I am a man who will certainly get seven penal ...
8     I am a man who takes very little exercise upon...
9     I am excuse to be a morose and silent but coul...
10                                                  NaN
Name: OUTPUT_SENTENCE, dtype: object