# Parameters Example:  
Model:      MD1  
Model_Name: MD1_MIN-Y_200-0.2-300-2__CEL-Adam_0.001.pt  
Trainer:    Guille  
## Data Processing:  
    Divider:        DIVIDERS_MIN  
    Clear Cover:    Yes  
## Model Shape:  
    Layer 1: Embedding:  
        embed_dim:  200  
        dropout:    0.2  
    Layer 2: Dropout_embed:  
        hidden_dim: 300  
        num_layers: 2  
## Training:  
    softmax:        no
    criterion:      CrossEntropyLoss  
    optimizer:      Adam  
    lr:             0.001  
    epochs:         300  
    patience:       15  
    total epochs:   30  
    best loss:      0.6047
## Loss list:
    [0.234, 0.23456, ... ]
Output sentence:    I am a widower and never had any we live very quietly in the so one of

In [100]:
import pandas as pd
import numpy as np
import ast

In [35]:
df = pd.read_excel('model_tests.xlsx')
df.head()

,MODEL,MODEL_NAME,TRAINER,DATA PROCESSING,Unnamed: 4,Model Shape,Unnamed: 6,Unnamed: 7,Unnamed: 8,Training,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Output sentence,Loss list,Unnamed: 19,Unnamed: 20,Unnamed: 21,extra
0,NaN,NaN,NaN,NaN,NaN,Layer 1: Embedding,NaN,Layer 2: Dropout_embed,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Divider,Clear Cover,embed_dim,dropout,hidden_dim,num_layers,softmax,...,epochs,patience,total epochs,best loss,NaN,NaN,NaN,NaN,NaN,NaN
2,MD1,NaN,Alvaro,DIVIDERS_ORIGINAL,Yes (delete cover),450,0.2,600,1,no,...,200,10,30,NaN,I am a widower and never had any we live very ...,"[5.967828273773193, 5.1509504318237305, 4.8069...",NaN,NaN,NaN,NaN
3,MD2,NaN,Alvaro,DIVIDERS_ALL,Yes (delete cover),450,0.2,600,1,no,...,200,10,23,NaN,I am a widower fellow back so as to make the c...,"[1.1426165103912354, 0.990385890007019, 1.5492...",NaN,NaN,NaN,NaN
4,MD3,NaN,Alvaro,DIVIDERS_MIN,Yes (delete cover),450,0.2,600,1,no,...,200,10,18,NaN,I am not still so short a theory as to me from...,"[1.5493043661117554, 1.1090360879898071, 1.241...",NaN,NaN,NaN,NaN

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   MODEL            28 non-null     object
 1   MODEL_NAME       0 non-null      float64
 2   TRAINER          18 non-null     object
 3   DATA PROCESSING  19 non-null     object
 4   Unnamed: 4       19 non-null     object
 5   Model Shape      20 non-null     object
 6   Unnamed: 6       19 non-null     object
 7   Unnamed: 7       20 non-null     object
 8   Unnamed: 8       19 non-null     object
 9   Training         11 non-null     object
 10  Unnamed: 10      19 non-null     object
 11  Unnamed: 11      19 non-null     object
 12  Unnamed: 12      19 non-null     object
 13  Unnamed: 13      19 non-null     object
 14  Unnamed: 14      19 non-null     object
 15  Unnamed: 15      16 non-null     object
 16  Unnamed: 16      1 non-null      object
 17  Output sentence  15 non-null     object
 18  Loss list        9 non-null      object
 19  Unnamed: 19      0 non-null      float64
 20  Unnamed: 20      0 non-null      float64
 21  Unnamed: 21      0 non-null      float64
 22  extra            0 non-null      float64
dtypes: float64(5), object(18)
memory usage: 5.5+ KB

In [44]:
df = df.iloc[:, :19]
df = df.iloc[2:20, :]

In [55]:
df.columns = ['ID', 'MODEL_NAME', 'TRAINER', 'DIVIDER', 'CLEAR_COVER', 'EMBED_DIM',
            'DROPOUT', 'HIDDEN_DIM', 'NUM_LAYERS', 'CRITERION', 'SOFTMAX', 'OPTIMIZER', 'LEARNING_RATE',
            'EPOCHS', 'PATIENCE', 'TOTAL_EPOCHS', 'BEST_LOSS', 'OUTPUT_SENTENCE', 'LOSS_LIST']

In [56]:
print(df.columns)

Index(['ID', 'MODEL_NAME', 'TRAINER', 'DIVIDER', 'CLEAR_COVER', 'EMBED_DIM',
       'DROPOUT', 'HIDDEN_DIM', 'NUM_LAYERS', 'CRITERION', 'SOFTMAX',
       'OPTIMIZER', 'LEARNING_RATE', 'EPOCHS', 'PATIENCE', 'TOTAL_EPOCHS',
       'BEST_LOSS', 'OUTPUT_SENTENCE', 'LOSS_LIST'],
      dtype='object')

In [140]:
#FÃ³rmulas
#Aux
def convert_to_list(s):
    if pd.isna(s):
        return
    return ast.literal_eval(s)

def get_min(lt):
    if isinstance(lt, list):
        return min(lt)
    return np.nan

#Mejor loss
df['BEST_LOSS'] = df['LOSS_LIST'].apply(convert_to_list).apply(get_min)
#Nombre compuesto
df['MODEL_NAME'] = df['ID'].astype(str) + '_' + df['DIVIDER'].astype(str).apply(lambda x: x.split('_')[-1]) + '_'
df['MODEL_NAME'] = df['MODEL_NAME'] + df['EMBED_DIM'].astype(str) + '_' + df['DROPOUT'].astype(str) + '_' + df['HIDDEN_DIM'].astype(str) + '_' + df['NUM_LAYERS'].astype(str) + '_' + df['LEARNING_RATE'].astype(str) + '_' + df['TOTAL_EPOCHS'].astype(str) + '_' + (df['BEST_LOSS'].astype(str))